.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: 500;

  width: calc((100% - 4rem) / 5);
  height: 180px;
}

.date {
  color: gray;
  font-size: 12px;
}

.text {
  font-size: 1.5rem;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
}
