.container {
  width: 30%;
  margin: auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn {
  background-color: #209e63bb;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0;
  cursor: pointer;

  font-weight: bold;
  color: white;
}

#textarea,
#title {
  padding: 0.2rem;
  outline: none;
  border: none;
}

#textarea {
  field-sizing: content;
  width: 100%;
  min-height: 4rem;
  resize: none;
}

#title {
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid rgb(235, 235, 235); */
}
