.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  min-width: 40%;
  border-radius: 0.5rem;
  padding: 1.5rem;
  font-weight: 500;
}

.date,
.edited {
  color: gray;
}

.edited {
  font-size: 12px;
}

#title {
  border: none;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
}

#text {
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
  min-height: 4rem;
  resize: none;
  field-sizing: content;
}

.btn {
  background-color: #209e63bb;
  border: none;
  border-radius: 0.2rem;
  padding: 0.2rem 0;
  cursor: pointer;

  font-weight: bold;
  color: white;
}
