.menu {
  display: flex;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.menu > button {
  width: calc((100% - 2rem) / 4);
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  color: rgb(63, 63, 63);
  font-weight: 500;
  padding: 0.3rem 0;
}
